table, th ,td,caption{
    border:3px solid black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.5rem;
    text-align:center;
    
}

body{
    background:#f5e6d3;
}